### Composer
/composer.phar
/vendor/

### Php-cs
/.php_cs.cache

### PhpStorm
## Directory-based project format:
# User-specific stuff:
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dataSources.ids
/.idea/dictionaries

### Phpunit
/build/
/phpunit.xml
